@media only screen and (max-width: 1100px) {
    .top-search > input{
    width: 200px;
    }
    .banner > .image{
        width: 400px;
    }
}
@media only screen and (max-width: 1000px){
header>.container > .header-main{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
header>.container > .header-main .info {
    flex-direction: column-reverse;
}
header>.container > .header-main .logo, header>.container > .header-main .info {
justify-content: center;

}
header>.container > .header-main>div{
    width: 100%;

}
.top-search > input{
    width: 100%;
    text-align: center;
    }
    .banner> .image{
    height: 350px; 
    }
}
@media only screen and (max-width: 900px){
    .service-overview .title, .services-section .title{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-direction: column;
        text-align: center;
        gap: 20px;

    }
}
@media only screen and (max-width: 830px){
.service-overview .services{
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.service-overview .services ul{
    list-style: none;
}
footer .footer-row{
flex-direction: column;
gap: 100px;

}
footer .footer-row>div{
width: 100%;
text-align: center;
}
.footer-row .logo{
    justify-content: center;
}
}
@media only screen and (max-width: 680px){
.services-list{
    flex-direction: column;
    gap: 59px;
}
.services-list ul{
    margin-left: 30px;
}
}