h1{
    font-size:35px  ;
}




.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
header>.container > .header-main{
    padding-top:30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button{
    color: white;
    border: none;
    background-color: darkgoldenrod ;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 20px;
}
.logo{
    display: flex;
}
.logo img{
    width: 100px;
    height: 100px;
   }
   .logo span{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
.top-search > input{
    padding: 7px 10px;
    border-radius: 7px;
    font-size: 20px ;
    border: 1px solid gray;
    width: 300px;
}
.info> .mobile{
    font-size: 20px;
}
.info{
    display: flex;
    gap: 30px;
    align-items: center;
}
header nav ul{
list-style: none;
display: flex;
justify-content: space-between;
margin-top:  20px;
margin-top: 0;

}
header nav ul li{
    background-color: white;
    width: 100%;
    text-align: center;
   
padding: 15px 0;
border-top: 4px solid  white}
header nav ul li:hover a{
color: darkorange;    

}
header nav ul li:hover{
    cursor: pointer;
    border-top: 4px solid darkorange;
}
.banner>.image{
    background-image: url(../img/image.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
text-shadow:0 0 10px black ;
}
.service-overview .title, .services-section .title{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.service-overview .services{
    margin-top: 60px;
    display: flex;
    justify-content:space-between ;
}
.service-overview .services>div{
    flex-basis: 30%;
}
.divider{
    background-image: url(../img/rekha.svg) ;
    background-size: 20px 20px;
    
    height: 20px;
   opacity: 0.2;
margin:100px 0 ;
}
.services-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.services-list > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 28%;
}
.services-list > div img {
    width: 100%;
    
}
.services-list ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.services-list ul li{
    position: relative;
}

.services-list ul li::before{
    content: '';
    height: 100%;
    width: 5px;
   background-color: darkorange;
   position: absolute;
   left: -20px;
}
footer{
    background-color: #242424;
    padding: 100px 0;
    margin-top: 100px;
}
footer .footer-row {
    display: flex;
    justify-content: space-between;
}
footer .footer-row>div{
    flex: 20%;
}
footer .footer-row ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

